body{
    width: 100%;
    height: 100vh;
    background: black url(../image/praia.jpg) center no-repeat fixed; 
    background-size: cover;
}

.debug{
    border: solid 1px red;
}

/* Header */

header{
    background-color: #a2a2a298;
    color: rgb(0, 0, 0);

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5.6rem;
}

.buscar input{
    font-size: 1rem;
}

#buscar{
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px #0000009b;
}

.btn{
    background-color: white;
    padding: 0.4rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 5px 5px 5px #0000009b;
}

.btn:hover{
    color: #0000ff;
}

/* janela modal */

.janela-modal{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.549);
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    color: rgb(0, 0, 0)  ;
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff81;
    backdrop-filter: blur(10px);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #686868bc;
}


.janela-modal.abrir{
    display: flex;
}

#fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

@keyframes abrirModal{
    from{
        opacity: 0;
        transform: translate3d(0, -30px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal{
    animation: abrirModal 0.9s;
}

/* container geral */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

/* lado esquerdo */

.left{
    width: 20%;
    height: 100vh;
    background-color: #ffffffba;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.cidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cidades ul ul{
    list-style-type: none;
}

.cidades ul ul a{
    font-size: 1.6rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.cidades ul ul a:hover{
    color: #0000ff;
}

.cidades ul ul li{
    font-size: 1.2rem;
}

.litorais ul ul li{
    color: #ff0000;

}

.valores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Lado direito */

.right{
    width: 80%;
    height: 100vh;
    background-color: #a2a2a298;
    display: flex;
}

.cards{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 21vw;
    height: 50vh;

    border-radius: 15px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.521);
    background-color: #ffffffa5;
    
}



.card img{
    border-radius: 15px;
    width: 90%;
    height: 12.5rem;
    transition: 0.2s;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.521);   
}

.card img:hover{
    transform: scale(1.1);
}

